<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome, </span>!</h1>
    <h2>Request Information</h2>
    <form th:action="@{/profile/save}" method="get">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" th:value="${username}"
      required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:value="${password}"
      required />

      <button type="submit">Login</button>

      <p th:if="${param.logout}" style="color: red">You just logged out!</p>
    </form>
    <a href="/logout">Logout</a>
  </body>
</html>
